

.about {
    padding: 100px 0;
    overflow: hidden;
    .container {
        display: flex;
        align-items: center;
        .rightfood {
            width: 50%;
        }
        .dishimg {
            width: 40%;
        }
    }
}