

.menu {
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
    overflow: hidden;
    .menucol {
        width: calc( 100% / 2 - 100px);
        margin: 0 50px;
        animation-duration: 1s;
        .menurow {
            padding: 10px 0;
            .menulist {
                .fooditem {
                    padding: 20px 0;
                    .foodname {
                        color: rgb(231, 185, 45);
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 10px;
                        border-bottom: 1px solid rgb(218, 179, 62);
                        font-size: 18px;
                        font-weight: 600;
                    }
                    .fooddescription {
                        text-align: left;
                        padding-top: 5px;
                        font-size: 14px;
                        font-weight: bold;
                        font-family: 'Roboto', sans-serif;
                        letter-spacing: 0;
                    }
                }
                .specialfooditem {
                    position: relative;
                    padding: 10px;
                    margin-top: 20px;
                    border: 1px solid rgb(218, 179, 62);
                    z-index: -1;
                    &::before {
                        content: "Special";
                        padding: 5px 10px;
                        position: absolute;
                        top: -26px;
                        right: -1px;
                        color: #ffffff;
                        font-size: 12px;
                        background-color: rgb(173, 142, 46);
                    }
                }
            }
        }
    }
}


// =================================
// for laptop view or less than 1025px
// =================================
@media screen and (max-width: 1024px) {
    .menu {
        width: 100%;
        .menucol {
            .menurow {
                padding: 10px 0;
            }
        }
    }
}



// =================================
// for tablet view or less than 769px
// =================================
@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
        flex-wrap: wrap;
        .menucol {
            width: calc( 100% - 80px );
            margin: 0 40px;
            .menurow {
                padding: 10px 0;
            }
        }
    }
}


// =================================
// for mobile view or less than 600px
// =================================
@media screen and (max-width: 600px) {
    .menu {
        margin: 20px auto;
        padding-bottom: 0;
        .menucol {
            width: calc( 100% - 40px);
            margin: 0 20px;
        }
    }
}